<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />-->
</head>
<body>
<h1>Thymeleaf</h1>
<form id="my-form" th:action="@{/search}" method="post"> <!--th:object="${name}"-->
    <select name="name" class="selectpicker" data-live-search="true" data-container="body">
        <option value="0" selected>Select a pokemon</option>
        <option th:each="option : ${options}" th:text="${option}"></option>
    </select>
    <button type="submit" class="btn" onclick="this.blur()">Search</button>
</form>
<h2>Build your Pokemon Deck</h2>
<div class="table-responsive-md">
<!--    <table class="table table-striped">-->
<!--        <thead class="table-dark">-->
<!--        <tr>-->
<!--            <th scope="col">-->
<!--            <div class="d-flex justify-content-between align-items-center">-->
<!--                <span>Card</span>-->
<!--                <button type="button" class="btn btn-outline-light" onclick="toggleColumnVisibility(0); this.blur()">-->
<!--                    <span id="toggleButton">Hide</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </th>-->
<!--            <th scope="col">Type</th>-->
<!--            <th>Attack</th>-->
<!--            <th>Cost</th>-->
<!--            <th>Damage</th>-->
<!--            <th>Text</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody id="pokemonTableBody">-->
<!--        <tr th:each="pokemonInstance : ${pokemonList}">-->
<!--            <td rowspan="2"><img th:src="${pokemonInstance?.getImages()?.getSmall()}" class="img-fluid"></td>-->
<!--&lt;!&ndash;            <td rowspan="2" th:text="${pokemonInstance?.getName()}"></td>&ndash;&gt;-->
<!--            <td rowspan="2" th:text="${pokemonInstance?.getTypes()?.get(0)}"></td>-->
<!--            <td colspan="2">-->
<!--                <table class="table table-striped">-->
<!--                    <tr th:each="attack : ${pokemonInstance?.getAttacks()}">-->
<!--                        <td th:text="${attack != null ? attack.getName() : 'No Attack Available'}"></td>-->
<!--                        <td th:text="${attack != null ? attack.getCost() : 'No Attack Available'}"></td>-->
<!--                        <td th:text="${attack != null ? attack.getDamage() : 'No Attack Available'}"></td>-->
<!--                        <td th:text="${attack != null ? attack.getText() : 'No Text'}"></td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">Card</th>
            <th scope="col">Type</th>
            <th scope="col">Attack</th>
            <th scope="col">Cost</th>
            <th scope="col">Damage</th>
            <th scope="col">Text</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pokemonInstance : ${pokemonList}">
            <td>
                <div class="card" style="width: 18rem;">
                    <img th:src="${pokemonInstance?.getImages()?.getSmall()}" class="card-img-top">
                </div>
            </td>
            <td th:text="${pokemonInstance?.getTypes()?.get(0)}"></td>
            <td>
                <ul>
                    <li th:each="attack : ${pokemonInstance?.getAttacks()}" th:text="${attack != null ? attack.getName() : 'No Attack Available'}"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="attack : ${pokemonInstance?.getAttacks()}" th:text="${attack != null ? attack.getCost() : 'No Attack Available'}"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="attack : ${pokemonInstance?.getAttacks()}" th:text="${attack != null ? attack.getDamage() : 'No Attack Available'}"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="attack : ${pokemonInstance?.getAttacks()}" th:text="${attack != null ? attack.getText() : 'No Text'}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function toggleColumnVisibility(index) {
        var table = document.querySelector('.table');
        var hideButton = document.querySelector('#toggleButton');
        var isHidden = table.rows[1].cells[index].querySelector('img').style.display === 'none';

        for (var i = 0, row; row = table.rows[i]; i++) {
            if (i === 0) {
                row.cells[index].style.display = ''; // show header cell
            } else {
                var img = row.cells[index].querySelector('img');
                if (img) {
                    img.style.display = isHidden ? '' : 'none'; // hide/show image
                }
            }
        }
        hideButton.textContent = isHidden ? 'Hide' : 'Show';
    }
</script>
<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>
</body>
</html>