<!--
<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h1>Build your Pokemon Deck</h1>
<div class="table-responsive-md">
<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Card</th>
        <th scope="col">Type</th>
        <th scope="col">Text</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" th:text="${pokemonInstance?.getName()}"></th>
        <td /><img th:src="${pokemonInstance?.getImages()?.getSmall()}" class="img-fluid"></td>
        <td th:text="${pokemonInstance?.getTypes().get(0)}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h1>Build your Pokemon Deck</h1>
<div class="table-responsive-md">
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Card</span>
                    <button class="btn btn-link p-0" onclick="toggleColumnVisibility(1)">
                        <span id="toggleButton1">Hide</span>
                    </button>
                </div>
            </th>
            <th scope="col">Type</th>
            <th scope="col">Text</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" th:text="${pokemonInstance?.getName()}"></th>
            <td><img th:src="${pokemonInstance?.getImages()?.getSmall()}" class="img-fluid"></td>
            <td th:text="${pokemonInstance?.getTypes().get(0)}"></td>
            <td th:text="${pokemonInstance?.getFlavorText()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function toggleColumnVisibility(index) {
        var table = document.querySelector('.table');
        var hideButton = document.querySelector('#toggleButton' + index);
        var cellIndex = index; // adjust for zero-based index of cells in row
        var isHidden = table.rows[1].cells[cellIndex].style.display === 'none';
        for (var i = 0, row; row = table.rows[i]; i++) {
            if (i === 0) {
                row.cells[cellIndex].style.display = ''; // show header cell
            } else {
                row.cells[cellIndex].style.display = isHidden ? '' : 'none'; // hide/show data cells
            }
        }
        hideButton.textContent = isHidden ? 'Hide' : 'Show';
    }
</script>
</body>
</html>
